{
    "presets": [
        // "@babel/preset-env",
        [
            "react-app",
            { "flow": false, "typescript": true, "absoluteRuntime": false }
        ],
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": ["@babel/transform-runtime"]
    // "plugins": [
    //     [
    //         "@babel/plugin-transform-runtime",
    //         {
    //             "corejs": {
    //                 "version": 3
    //             }
    //         }
    //     ]
    // ]
}
